<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:11.0px;color:rgb(14,14,15);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:11.0px;color:rgb(14,14,15);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Times,serif;font-size:11.0px;color:rgb(14,14,15);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:11.0px;color:rgb(14,14,15);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Times,serif;font-size:49.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:49.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:18.0px;color:rgb(14,14,15);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:18.0px;color:rgb(14,14,15);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Times,serif;font-size:12.0px;color:rgb(26,28,30);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Times,serif;font-size:12.0px;color:rgb(26,28,30);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:Times,serif;font-size:12.0px;color:rgb(26,28,30);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Times,serif;font-size:12.0px;color:rgb(26,28,30);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Times,serif;font-size:11.0px;color:rgb(26,28,30);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:Times,serif;font-size:11.0px;color:rgb(26,28,30);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Times,serif;font-size:10.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Times,serif;font-size:10.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Times,serif;font-size:12.0px;color:rgb(26,28,30);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Times,serif;font-size:12.0px;color:rgb(26,28,30);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Times,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Times,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Times,serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Times,serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:10%;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:20%">
<img src="../images/background1.jpg" width=612 height=792></div>
<div style="position:absolute;left:40.09px;top:46.56px" class="cls_002"><span class="cls_002">Syed Parvez</span></div>
<div style="position:absolute;left:42.52px;top:130.61px" class="cls_005"><span class="cls_005">EDUCATION</span></div>
<div style="position:absolute;left:224.32px;top:130.61px" class="cls_005"><span class="cls_005">EXPERIENCE</span></div>
<div style="position:absolute;left:42.52px;top:157.67px" class="cls_006"><span class="cls_006">Jawaharlal Nehru</span></div>
<div style="position:absolute;left:224.32px;top:157.12px" class="cls_006"><span class="cls_006">Media.Net</span></div>
<div style="position:absolute;left:458.47px;top:157.12px" class="cls_011"><span class="cls_011">March 2021 - Present</span></div>
<div style="position:absolute;left:42.52px;top:170.82px" class="cls_006"><span class="cls_006">Technological University</span></div>
<div style="position:absolute;left:224.32px;top:172.37px" class="cls_012"><span class="cls_012">Site Reliability Engineer II</span></div>
<div style="position:absolute;left:503.33px;top:172.37px" class="cls_012"><span class="cls_012">Bangalore, IN</span></div>
<div style="position:absolute;left:42.52px;top:185.07px" class="cls_007"><span class="cls_007">B.Tech in Computer Science</span></div>
<div style="position:absolute;left:239.89px;top:185.63px" class="cls_008"><span class="cls_008">• Building custom tools using Golang to interact with tools like</span></div>
<div style="position:absolute;left:42.52px;top:198.22px" class="cls_007"><span class="cls_007">Graduated. May 2018</span></div>
<div style="position:absolute;left:249.23px;top:199.87px" class="cls_008"><span class="cls_008">Kubernetes, Etcd Database etc.</span></div>
<div style="position:absolute;left:239.89px;top:215.11px" class="cls_008"><span class="cls_008">• Python scripting to maintain server states and to building</span></div>
<div style="position:absolute;left:42.52px;top:231.40px" class="cls_006"><span class="cls_006">Intermediate Board of</span></div>
<div style="position:absolute;left:249.23px;top:229.36px" class="cls_008"><span class="cls_008">automation tools.</span></div>
<div style="position:absolute;left:42.52px;top:244.55px" class="cls_006"><span class="cls_006">Education Telangana</span></div>
<div style="position:absolute;left:239.89px;top:244.60px" class="cls_008"><span class="cls_008">• Orchestrating Kubernetes cluster of more than 100 Nodes to</span></div>
<div style="position:absolute;left:42.52px;top:258.79px" class="cls_007"><span class="cls_007">Graduated. May 2014</span></div>
<div style="position:absolute;left:249.23px;top:258.85px" class="cls_008"><span class="cls_008">handle millions of ads request.</span></div>
<div style="position:absolute;left:239.89px;top:274.09px" class="cls_008"><span class="cls_008">• Using Anisible for on-premise deployment of multi</span></div>
<div style="position:absolute;left:249.23px;top:288.34px" class="cls_008"><span class="cls_008">architecture application as docker micro services.</span></div>
<div style="position:absolute;left:42.52px;top:299.14px" class="cls_005"><span class="cls_005">SKILLS</span></div>
<div style="position:absolute;left:239.89px;top:303.58px" class="cls_008"><span class="cls_008">• Using configuration management tools like Ansible and</span></div>
<div style="position:absolute;left:249.23px;top:317.83px" class="cls_008"><span class="cls_008">Puppet to automate and manage large number of VM’s in</span></div>
<div style="position:absolute;left:42.52px;top:325.44px" class="cls_009"><span class="cls_009">Languages:</span></div>
<div style="position:absolute;left:249.23px;top:332.08px" class="cls_008"><span class="cls_008">multi data center architecture.</span></div>
<div style="position:absolute;left:42.52px;top:337.61px" class="cls_010"><span class="cls_010">GoLang, JavaScript, Java</span></div>
<div style="position:absolute;left:239.89px;top:347.32px" class="cls_008"><span class="cls_008">• Managing multiple SQL and NoSQL databases including</span></div>
<div style="position:absolute;left:42.52px;top:350.76px" class="cls_010"><span class="cls_010">Python, Bash</span></div>
<div style="position:absolute;left:42.52px;top:364.90px" class="cls_009"><span class="cls_009">Tools:</span></div>
<div style="position:absolute;left:249.23px;top:361.57px" class="cls_008"><span class="cls_008">Aerospike, Redis and Elasticsearch.</span></div>
<div style="position:absolute;left:42.52px;top:377.06px" class="cls_010"><span class="cls_010">Kubernetes, Docker</span></div>
<div style="position:absolute;left:224.32px;top:384.67px" class="cls_006"><span class="cls_006">Yellow Messenger</span></div>
<div style="position:absolute;left:459.51px;top:384.67px" class="cls_011"><span class="cls_011">May 2018 - Feb 2021</span></div>
<div style="position:absolute;left:42.52px;top:390.21px" class="cls_010"><span class="cls_010">Jenkins, Git, Vim, Ansible</span></div>
<div style="position:absolute;left:224.32px;top:399.91px" class="cls_012"><span class="cls_012">Software Development Engineer (SDE II)</span></div>
<div style="position:absolute;left:503.33px;top:399.91px" class="cls_012"><span class="cls_012">Bangalore, IN</span></div>
<div style="position:absolute;left:42.52px;top:404.35px" class="cls_009"><span class="cls_009">Frameworks:</span></div>
<div style="position:absolute;left:42.52px;top:416.51px" class="cls_010"><span class="cls_010">NodeJS, ReactJS, Spring Boot</span></div>
<div style="position:absolute;left:239.89px;top:425.92px" class="cls_008"><span class="cls_008">•</span></div>
<div style="position:absolute;left:249.23px;top:425.92px" class="cls_008"><span class="cls_008">Designed and Developed multiple microservices from scratch</span></div>
<div style="position:absolute;left:42.52px;top:430.65px" class="cls_009"><span class="cls_009">Databases:</span></div>
<div style="position:absolute;left:42.52px;top:442.81px" class="cls_010"><span class="cls_010">MongoDB, SQL, Redis</span></div>
<div style="position:absolute;left:249.23px;top:440.16px" class="cls_008"><span class="cls_008">for the chatbot platform using Node.js.</span></div>
<div style="position:absolute;left:42.52px;top:455.96px" class="cls_010"><span class="cls_010">Elasticsearch, Prometheus</span></div>
<div style="position:absolute;left:239.89px;top:455.41px" class="cls_008"><span class="cls_008">•</span></div>
<div style="position:absolute;left:249.23px;top:455.41px" class="cls_008"><span class="cls_008">Helped the team in setting up the WebSocket server for</span></div>
<div style="position:absolute;left:42.52px;top:470.10px" class="cls_009"><span class="cls_009">Others:</span></div>
<div style="position:absolute;left:249.23px;top:469.65px" class="cls_008"><span class="cls_008">message transfer.</span></div>
<div style="position:absolute;left:42.52px;top:482.27px" class="cls_010"><span class="cls_010">Azure (Cloud), AWS (Cloud),</span></div>
<div style="position:absolute;left:239.89px;top:484.90px" class="cls_008"><span class="cls_008">•</span></div>
<div style="position:absolute;left:249.23px;top:484.90px" class="cls_008"><span class="cls_008">Created a custom proxy service using go HTTP web server.</span></div>
<div style="position:absolute;left:42.52px;top:495.42px" class="cls_010"><span class="cls_010">Nginx, HAProxy, Websockets</span></div>
<div style="position:absolute;left:239.89px;top:500.14px" class="cls_008"><span class="cls_008">•</span></div>
<div style="position:absolute;left:249.23px;top:500.14px" class="cls_008"><span class="cls_008">Assisted team members in application design, database</span></div>
<div style="position:absolute;left:249.23px;top:514.39px" class="cls_008"><span class="cls_008">design, data loading and schema layout.</span></div>
<div style="position:absolute;left:42.52px;top:523.70px" class="cls_005"><span class="cls_005">COURSEWORK</span></div>
<div style="position:absolute;left:239.89px;top:529.63px" class="cls_008"><span class="cls_008">•</span></div>
<div style="position:absolute;left:249.23px;top:529.63px" class="cls_008"><span class="cls_008">Helped the team in debugging the network latency issues in</span></div>
<div style="position:absolute;left:249.23px;top:543.87px" class="cls_008"><span class="cls_008">Kubernetes cluster.</span></div>
<div style="position:absolute;left:42.52px;top:549.81px" class="cls_010"><span class="cls_010">Data Structure & Algorithms</span></div>
<div style="position:absolute;left:239.89px;top:559.12px" class="cls_008"><span class="cls_008">•</span></div>
<div style="position:absolute;left:249.23px;top:559.12px" class="cls_008"><span class="cls_008">Designed and automated creation, deployment and activation</span></div>
<div style="position:absolute;left:42.52px;top:562.96px" class="cls_010"><span class="cls_010">Cryptography & Network Security</span></div>
<div style="position:absolute;left:249.23px;top:573.36px" class="cls_008"><span class="cls_008">of whatsapp on-premise infrastructure using spring frame</span></div>
<div style="position:absolute;left:42.52px;top:576.11px" class="cls_010"><span class="cls_010">Operating Systems & Cloud</span></div>
<div style="position:absolute;left:42.52px;top:589.26px" class="cls_010"><span class="cls_010">Computing</span></div>
<div style="position:absolute;left:249.23px;top:587.61px" class="cls_008"><span class="cls_008">work and ReactJS.</span></div>
<div style="position:absolute;left:239.89px;top:602.85px" class="cls_008"><span class="cls_008">•</span></div>
<div style="position:absolute;left:249.23px;top:602.85px" class="cls_008"><span class="cls_008">I have worked on multi CPU architecture systems like x86,</span></div>
<div style="position:absolute;left:249.23px;top:617.10px" class="cls_008"><span class="cls_008">ppc64le, and ARM</span></div>
<div style="position:absolute;left:42.52px;top:617.54px" class="cls_005"><span class="cls_005">PUBLICATIONS</span></div>
<div style="position:absolute;left:239.89px;top:632.34px" class="cls_008"><span class="cls_008">•</span></div>
<div style="position:absolute;left:249.23px;top:632.34px" class="cls_008"><span class="cls_008">I am also expirenced working with Elasticsearch, Kafka, Redis,</span></div>
<div style="position:absolute;left:42.52px;top:644.05px" class="cls_006"><span class="cls_006">Defect Tracking System</span></div>
<div style="position:absolute;left:249.23px;top:646.59px" class="cls_008"><span class="cls_008">HA Proxy, Nginx (Reverse proxy), UFW, Firewalld.</span></div>
<div style="position:absolute;left:42.52px;top:658.31px" class="cls_008"><span class="cls_008">Defect Tracking System,</span></div>
<div style="position:absolute;left:239.89px;top:661.83px" class="cls_008"><span class="cls_008">•</span></div>
<div style="position:absolute;left:249.23px;top:661.83px" class="cls_008"><span class="cls_008">I often write scripts in different technologies based on business</span></div>
<div style="position:absolute;left:42.52px;top:672.55px" class="cls_008"><span class="cls_008">Internaltional Journal of Applied</span></div>
<div style="position:absolute;left:249.23px;top:676.08px" class="cls_008"><span class="cls_008">requirement to automate the task.</span></div>
<div style="position:absolute;left:42.52px;top:686.80px" class="cls_008"><span class="cls_008">Engineering Research Volume 5,</span></div>
<div style="position:absolute;left:239.89px;top:691.32px" class="cls_008"><span class="cls_008">•</span></div>
<div style="position:absolute;left:249.23px;top:691.32px" class="cls_008"><span class="cls_008">Created my own team of backend developers and led them to</span></div>
<div style="position:absolute;left:42.52px;top:701.05px" class="cls_008"><span class="cls_008">Issue III, March 2017.</span></div>
<div style="position:absolute;left:249.23px;top:705.57px" class="cls_008"><span class="cls_008">achieve organisation goals.</span></div>
<div style="position:absolute;left:463.94px;top:728.49px" class="cls_013"><span class="cls_013">Last Updated: 04.16.2021</span></div>
</div>

</body>
</html>
